@charset "UTF-8";
@media (max-width: 860px) {
html, *:root {
    font-size: 112.5%;
}
}
@media (max-width: 780px) {
html, *:root {
    font-size: 100%;
}
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
img {
    max-width: 100%;
}
ul, ol {
    padding-left: 1.4em;
}
header, main, footer, p, table, figure, blockquote, pre, ul, ol, h1, .alpha, h2, .beta {
    margin-bottom: 1.4rem;
}
picture {
    display: block;
}
li ol, li ul {
    margin-bottom: 0;
}
.o--b {
    display: block;
}
.o--p {
    margin-bottom: 1.4rem;
}
.o--mz {
    margin-bottom: 0;
}
.unl {
    padding-left: 0;
}
.unl, .grid {
    list-style: none outside none;
}
.grid {
    margin-left: -20px;
}
.grid > .grid__col--6-of-6 {
    width: 100%;
}
.grid > .grid__col--3-of-6 {
    width: 50%;
}
.grid > .grid__col--2-of-6 {
    width: 33.3333%;
}
.grid > .grid__col--4-of-6 {
    width: 66.6667%;
}
.grid > .grid__col--push-6-of-6 {
    margin-left: 100%;
}
.grid > .grid__col--push-3-of-6 {
    margin-left: 50%;
}
.grid > .grid__col--push-2-of-6 {
    margin-left: 33.3333%;
}
.grid > .grid__col--push-4-of-6 {
    margin-left: 66.6667%;
}
.grid > .grid__col--pull-6-of-6 {
    margin-left: -100%;
}
.grid > .grid__col--pull-3-of-6 {
    margin-left: -50%;
}
.grid > .grid__col--pull-2-of-6 {
    margin-left: -33.3333%;
}
.grid > .grid__col--pull-4-of-6 {
    margin-left: -66.6667%;
}
.grid > .grid__col--1-of-6 {
    width: 16.6667%;
}
.grid > .grid__col--push-1-of-6 {
    margin-left: 16.6667%;
}
.grid > .grid__col--pull-1-of-6 {
    margin-left: -16.6667%;
}
.grid > .grid__col--5-of-6 {
    width: 83.3333%;
}
.grid > .grid__col--push-5-of-6 {
    margin-left: 83.3333%;
}
.grid > .grid__col--pull-5-of-6 {
    margin-left: -83.3333%;
}
.grid > *, .grid > .grid__col--1-of-6, .grid > .grid__col--push-1-of-6, .grid > .grid__col--pull-1-of-6, .grid > .grid__col--2-of-6, .grid > .grid__col--push-2-of-6, .grid > .grid__col--pull-2-of-6, .grid > .grid__col--3-of-6, .grid > .grid__col--push-3-of-6, .grid > .grid__col--pull-3-of-6, .grid > .grid__col--4-of-6, .grid > .grid__col--push-4-of-6, .grid > .grid__col--pull-4-of-6, .grid > .grid__col--5-of-6, .grid > .grid__col--push-5-of-6, .grid > .grid__col--pull-5-of-6 {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -0.25em;
    min-height: 1px;
    padding-left: 20px;
    vertical-align: top;
}
.grid > .grid__col--6-of-6 {
    display: inline-block;
}
.grid > .grid__col--push-6-of-6, .grid > .grid__col--pull-6-of-6, .grid > .grid__col--6-of-6 {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -0.25em;
    min-height: 1px;
    padding-left: 20px;
    vertical-align: top;
}
@media screen and (max-width: 700px) {
.grid > *, .grid > .grid__col--1-of-6, .grid > .grid__col--push-1-of-6, .grid > .grid__col--pull-1-of-6, .grid > .grid__col--2-of-6, .grid > .grid__col--push-2-of-6, .grid > .grid__col--pull-2-of-6, .grid > .grid__col--3-of-6, .grid > .grid__col--push-3-of-6, .grid > .grid__col--pull-3-of-6, .grid > .grid__col--4-of-6, .grid > .grid__col--push-4-of-6, .grid > .grid__col--pull-4-of-6, .grid > .grid__col--5-of-6, .grid > .grid__col--push-5-of-6, .grid > .grid__col--pull-5-of-6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    width: auto;
}
.grid > .grid__col--6-of-6 {
    display: block;
}
.grid > .grid__col--push-6-of-6, .grid > .grid__col--pull-6-of-6, .grid > .grid__col--6-of-6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    width: auto;
}
}
.grid .grid__col--centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 700px) {
.grid {
    margin-left: 0;
    width: auto;
}
}
.grid .grid__col--d-first {
    float: left;
}
.grid .grid__col--d-last {
    float: right;
}
.grid.grid--no-gutter {
    margin-left: 0;
    width: 100%;
}
.grid.grid--no-gutter > * {
    padding-left: 0;
}
.grid.grid--no-gutter .grid__col--span-all {
    margin-left: 0;
    width: 100%;
}
.grid .grid__col--ab {
    vertical-align: bottom;
}
.grid .grid__col--am {
    vertical-align: middle;
}
.wrap {
    margin: 0 auto;
    max-width: 48rem;
}
body, .island {
    padding: 1.4rem;
}
.island--v {
    padding-bottom: 1.4rem;
    padding-top: 1.4rem;
}
.isle, .highlight pre {
    padding: 0.7rem;
}
.isle--v, .site__footer section {
    padding-top: 0.7rem;
}
.spit {
    padding: 0.35rem;
}
.spit--v, .site__nav a {
    padding-bottom: 0.35rem;
    padding-top: 0.35rem;
}
.nav, .nav ul, .nav ol {
    list-style: none outside none;
    padding-left: 0;
}
.nav li, .nav a, .nav ul li, .nav ul a, .nav ol li, .nav ol a {
    display: inline-block;
}
h1, .alpha {
    font-family: "Requiem Display A","Requiem Display B","Hoefler Text A","Hoefler Text B",Georgia,serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.16667;
}
h1 .caps, .alpha .caps {
    font-family: "Requiem Display SC A","Requiem Display SC B","Requiem Display A","Requiem Display B","Hoefler Text A","Hoefler Text B",Georgia,serif;
}
h2, .beta {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.16667;
}
* + h2, * + .beta {
    padding-top: 1.4rem;
}
h3, .gamma {
    font-family: "Hoefler Text SC A","Hoefler Text SC B","Hoefler Text A","Hoefler Text B",Georgia,serif;
    font-size: 1rem;
    line-height: 1.4;
}
h3, .gamma, h4, .delta {
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-bottom: 0.7rem;
}
h4, .delta {
    font-family: "Whitney SSm SC A","Whitney SSm SC B","Whitney SSm A","Whitney SSm B",Geneva,Verdana,san-serif;
    font-size: 0.65rem;
    line-height: 1.61538;
}
small, .small {
    font-size: 0.8rem;
    line-height: 1.3125;
}
.meta {
    color: #888888;
}
.caps {
    font-family: "Hoefler Text SC A","Hoefler Text SC B","Hoefler Text A","Hoefler Text B",Georgia,serif;
    letter-spacing: 0.05em;
}
a {
    color: inherit;
}
a:hover {
    color: #C64F52;
}
figcaption {
    font-family: "Whitney SSm A","Whitney SSm B",Geneva,Verdana,san-serif;
}
figcaption, .site__nav {
    color: #888888;
    font-size: 0.65rem;
    line-height: 1.61538;
}
.night-mode figcaption, .night-mode .site__nav {
    color: #77797A;
}
figcaption .caps, .site__nav .caps {
    font-family: "Whitney SSm SC A","Whitney SSm SC B","Whitney SSm A","Whitney SSm B",Geneva,Verdana,san-serif;
}
hr {
    border-bottom-colors: none;
    border-left-colors: none;
    border-right-colors: none;
    border-top-colors: none;
    border-color: use-text-color use-text-color #D0D2D4;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 2px;
    margin: -2px auto 2.8rem;
    padding-top: 2.1rem;
    width: 6rem;
}
.night-mode hr {
    border-bottom-color: #282A2E;
}
mark {
    background-color: rgba(0, 0, 0, 0);
    color: #C64F52;
}
blockquote {
    border-left: 2px solid #C64F52;
    font-style: italic;
    padding: 0 1.4rem;
}
blockquote em {
    font-style: normal;
}
.promo {
    text-align: center;
}
figure img {
    display: block;
    margin-bottom: 0.7rem;
}
@media (min-width: 700px) {
.alignleft, .alignright {
    float: left;
    margin-left: calc(-50% - 0.46667rem);
    width: calc(50% - 0.7rem);
}
}
@media (min-width: 700px) {
.imgbleed {
    margin-left: calc(-50% - 0.46667rem);
    width: calc(150% + 0.46667rem);
}
.imgbleed figcaption {
    left: 0;
    margin-top: 1.4rem;
    padding-right: 0.7rem;
    position: absolute;
    text-align: right;
    top: 100%;
    width: 33.3333%;
}
}
.debug-outline * {
    outline: 1px dotted rgba(0, 0, 0, 0.1);
    outline-offset: -1px;
}
.debug-outline *:hover {
    outline-color: #FF0000;
}
html, *:root {
    background-color: #FBF7F0;
    color: #3D464D;
    font: 125%/1.4 "Hoefler Text A","Hoefler Text B",Georgia,serif;
}
@media (max-width: 860px) {
html, *:root {
    font-size: 112.5%;
}
}
@media (max-width: 780px) {
html, *:root {
    font-size: 100%;
}
}
html.night-mode, .night-mode:root {
    background-color: #1D1F21;
    color: #999A9B;
}
code, pre {
    font: 85%/1.64706 "Source Code Pro",Menlo,Consolas,monospace;
}
.highlight pre {
    background-color: #FAFCFD;
    border-radius: 0.25em;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    max-width: 100%;
    overflow: scroll;
}
.highlight pre .hll {
    background-color: #FFFFCC;
}
.highlight pre .c {
    color: #AAAAAA;
    font-style: italic;
}
.highlight pre .err {
    background-color: #F0A0A0;
    color: #F00000;
}
.highlight pre .k {
    color: #0000AA;
}
.highlight pre .cm {
    color: #AAAAAA;
    font-style: italic;
}
.highlight pre .cp {
    color: #4C8317;
}
.highlight pre .c1 {
    color: #AAAAAA;
    font-style: italic;
}
.highlight pre .cs {
    color: #0000AA;
    font-style: italic;
}
.highlight pre .gd {
    color: #AA0000;
}
.highlight pre .ge {
    font-style: italic;
}
.highlight pre .gr {
    color: #AA0000;
}
.highlight pre .gh {
    color: #000080;
    font-weight: 700;
}
.highlight pre .gi {
    color: #00AA00;
}
.highlight pre .go {
    color: #888888;
}
.highlight pre .gp {
    color: #555555;
}
.highlight pre .gs {
    font-weight: 700;
}
.highlight pre .gu {
    color: #800080;
    font-weight: 700;
}
.highlight pre .gt {
    color: #AA0000;
}
.highlight pre .kc, .highlight pre .kd, .highlight pre .kn, .highlight pre .kp, .highlight pre .kr {
    color: #0000AA;
}
.highlight pre .kt {
    color: #00AAAA;
}
.highlight pre .m {
    color: #009999;
}
.highlight pre .s {
    color: #AA5500;
}
.highlight pre .na {
    color: #1E90FF;
}
.highlight pre .nb {
    color: #00AAAA;
}
.highlight pre .nc {
    color: #00AA00;
    text-decoration: underline;
}
.highlight pre .no {
    color: #AA0000;
}
.highlight pre .nd {
    color: #888888;
}
.highlight pre .ni {
    color: #800000;
    font-weight: 700;
}
.highlight pre .nf {
    color: #00AA00;
}
.highlight pre .nn {
    color: #00AAAA;
    text-decoration: underline;
}
.highlight pre .nt {
    color: #1E90FF;
    font-weight: 700;
}
.highlight pre .nv {
    color: #AA0000;
}
.highlight pre .ow {
    color: #0000AA;
}
.highlight pre .w {
    color: #BBBBBB;
}
.highlight pre .mf, .highlight pre .mh, .highlight pre .mi, .highlight pre .mo {
    color: #009999;
}
.highlight pre .sb, .highlight pre .sc, .highlight pre .sd, .highlight pre .s2, .highlight pre .se, .highlight pre .sh, .highlight pre .si, .highlight pre .sx {
    color: #AA5500;
}
.highlight pre .sr {
    color: #009999;
}
.highlight pre .s1 {
    color: #AA5500;
}
.highlight pre .ss {
    color: #0000AA;
}
.highlight pre .bp {
    color: #00AAAA;
}
.highlight pre .vc, .highlight pre .vg, .highlight pre .vi {
    color: #AA0000;
}
.highlight pre .il {
    color: #009999;
}
.site__title {
    text-decoration: none;
}
.site__title:hover {
    color: inherit;
}
.site__title span {
    margin-bottom: 0;
}
.site__nav {
    border-top: 1px solid #D0D2D4;
    font-family: "Whitney SSm SC A","Whitney SSm SC B","Whitney SSm A","Whitney SSm B",Geneva,Verdana,san-serif;
    letter-spacing: 0.05em;
}
.night-mode .site__nav {
    border-top-color: #282A2E;
}
.site__nav li {
    margin-top: -1px;
}
.site__nav li + li {
    margin-left: 1rem;
}
.site__nav a {
    border-top: 1px solid rgba(0, 0, 0, 0);
    color: #888888;
    text-decoration: none;
}
.night-mode .site__nav a {
    color: #77797A;
}
.site__nav a.active {
    border-top-color: #C64F52;
    color: #C64F52;
}
.site__nav a:hover {
    color: #C64F52;
}
.posts__list .beta {
    margin-bottom: 0;
}
.posts__list a {
    text-decoration: none;
}
.post__title {
    margin-bottom: 0;
}
p:empty {
    display: none;
}
.hentry {
    margin-bottom: 4.2rem;
}
.site__footer {
    border-top: 1px solid #D0D2D4;
}
.night-mode .site__footer {
    border-top-color: #282A2E;
}
.site__footer section {
    position: static;
}
.site__footer section + section:before {
    content: normal;
}
@media screen and (min-width: 700px) {
.site__footer section + section:before {
    background-color: #D0D2D4;
    bottom: 0;
    content: "";
    margin-left: -10px;
    position: absolute;
    top: 0;
    width: 1px;
}
.night-mode .site__footer section + section:before {
    background-color: #282A2E;
}
}
.footer__copyright {
    border-top: 1px solid #D0D2D4;
}
.night-mode .footer__copyright {
    border-top-color: #282A2E;
}
