{% extends 'base.html' %}

{% block title %}
About | Chen Ye, Coder, Designer
{% endblock %}

{% block content %}
	{% block content_header %}
	<header class="page__header grid__col grid__col--2-of-6">
		<h1 class="page__title">About</h1>
	</header>
	{% endblock %}
	<div class="grid__col grid__col--4-of-6">
	<p></p>
	<figure class="">
		<picture>
		<img src="/static/unno/img/myface.png" alt = "这是陈烨本人">
		</picture>
		<figcaption>This is me. When you want to succeed as bad as you want to breathe. We can make difference.</figcaption>
	</figure>
	<p></p>

	<p>
	<font face = 'HanziPen SC' size = '4'>
	我的名字叫陈烨，我是个Designer，也是个Developer. 我爱天马行空，拒绝拘束，追求用户体验完美，坚信细节决定成败，行为要低调但喜欢一鸣惊人的感觉。我时不时有很多稀奇古怪的想法，我回去记录它并完善它，然后我窑区实现它，虽然过程很难，但我相信这是一个有趣的旅程。我最想去的公司是美国康宁公司，因为我想为未来世界出一分力，我最想工作的环境是GOOGLE,因为那里是程序员散发思想的天堂。</font></br></br>
    <font face = "Comic Sans MS" size = '4'>
My name is Crayon Chaney, and I’m a designer&developer. I 'm intrugued by the the stories behind objects; how they were made, and who made them. As for me, what need larger space to develop my a powerful and unconstrained style is strange think of clever want, let my all round exploration microcosmic.</font>
	</p>
	<hr/>
	<p>
	<font face = 'HanziPen SC' size = '4'>
	我人生的主题是三个：JUST RUN, PURSUE UNNO, NEVER SAY NO.</br></br>
	只管向前走。与耐克的广告:JUST DO IT 同义，这句话出自Steve Jobs 在母校做演讲的一段话，don't take a moment's rest, just run. </br></br>
	追求未知。人类一切的行为都建立在追寻未知途中之上。那是很吸引人的。 你可以试一下，在一条大路上，闭上眼睛，你能走几秒， 可能10秒都不到，因为你永远不知道接下来将发生什么。但是我们可以预见，我们可以借鉴历史，预见未来走向，借鉴历史经验，走在黑暗中，将是一件很刺激的事.</br></br>
	永不言弃。人的一种最重要的精神，就是坚持，不放弃，如果你能做到这一点，当然在正确的方向上，你将比别人更加优秀.
	</font>
	</p>
	<hr/>
	<p>
	
	<font face = "HanziPen SC" size = '4'>我在<a href="http://twitter.com/chenye277">推特</a>上关注NBA的新闻
    . 我和海外的朋友在<a href="http://www.facebook.com/chenye277">脸谱</a>上聊天.
	我写的项目以及托管都放在<a href="http://www.github.com/chenye277">Github</a>上.
	</font>
	</br></br>


	<font face = "Comic Sans MS" size = '4'>
    I catch news about NBA on
    <a href="http://twitter.com/chenye277">Twitter</a>
    . I connect with my friend oversea on
    <a href="http://www.facebook.com/chenye277">Facebook</a>
    . I write code and put it on
    <a href="http://www.github.com/chenye277">Github</a>
	</font>
    </p>
	<hr/>
	<p>
	<font face = "HanziPen SC" size = '4'>在大学期间我遇到了全世界最漂亮，最可爱的女生。她有一颗美丽善良而坚强的心，她的名字叫徐启起，很幸运，我们在一起了，那是世界上最美好的事情了。</br>我的妈妈爸爸，是世界上最好的妈妈爸爸，他们给了我他们力所能及的最好的教育，全力支持任何我的兴趣，我现在要做的就是要赶在时间之前，做我能为他们做的事情。</br>我还有个很可爱的妹妹，陈柯羽，想看看她么。联系我，给你通行证然后，<a href = "/myfamily">到这来吧</a></font>
	</br></br>
	<font face = "Comic Sans MS" size = '4'>
	I met the girl named Xu Qiqi who must be the most wonderful, beautiful girl in the world i've ever know during the college. She has a strong heart which is beautiful. It's so lucky that we could be together, with that moment already burned into my heard and never erase. </br>My daddy and mommy, which must be the best in the whole world, they offer me the greatest education they could afford. Beside, they spare no effort to support my interestes. What i have to do now is catch up the time, and do whatever i can do for them.</br>I also have a lovely sister, her name is Chen Keyu. Interesting? Contact me, i will offer you a passport and <a href = "/myfamily">come here
	</a>
	</font>

	</p>

	<hr/>

	<p>

	<font face = "HanziPen SC" size = '4'>如果你有任何问题或者反馈，你可以联系我，当然你有很多想法，那我更是欢迎！</font></br>
<font face = "Comic Sans MS" size = '4'>
	If you have questions or feedback, you can always email me at <a href = 'mailto:chenye626@gmail.com'>chenye626@gmail.com</a>
	</font>
	</p>
	</div>
	</article>
	</main>
{% endblock %}


